<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leathersheer.tools.AndroidResponse.DataFragment.DataServletMapper">
    <resultMap id="LianjiaCDMapper" type="com.leathersheer.tools.SpiderUnit.LianJiaCD.LianjiaCDBean">
        <id property="houseid" column="houseid"/>
        <result property="title" column="title"/>
        <result property="housetype" column="housetype"/>
        <result property="proportion" column="proportion"/>
        <result property="orientation" column="orientation"/>
        <result property="decoration" column="decoration"/>
        <result property="floor" column="floor"/>
        <result property="followinfo" column="followinfo"/>
        <result property="taxfree" column="taxfree"/>
        <result property="price" column="price"/>
        <result property="updatedate" column="updatedate"/>
        <result property="fetchdate" column="fetchdate"/>
        <result property="status" column="status"/>
        <result property="url" column="url"/>
        <result property="originalPrice" column="originalPrice"/>
        <result property="originalFetchdate" column="originalFetchdate"/>
    </resultMap>

    <select id="getHouseInfoAll" resultMap="LianjiaCDMapper">
        select * from lianjiacdhouse order by updatedate desc;
    </select>

    <select id="getHouseHist" resultMap="LianjiaCDMapper">
        SELECT a.*,b.price as originalPrice,b.fetchdate as originalFetchdate
        FROM lianjiaCDhouse a,lianjiacdhousehist b
        WHERE a.houseid = b.houseid
        order by a.updatedate desc
    </select>


    <resultMap id="RealEstateInfo" type="com.leathersheer.tools.SpiderUnit.Listeners.DBUnits.ChengDuHouseBean">
    <result column="area_name" property="area_name" />
    <result column="total_area_proportion" property="total_area_proportion" />
    <result column="residiential_house_num" property="residiential_house_num" />
    <result column="residiential_house_proportion" property="residiential_house_proportion" />
    <result column="not_residiential_house_proportion" property="not_residiential_house_proportion" />
    <result column="city_name" property="city_name" />
    <result column="record_time" property="record_time" />
        <result column="record_date" property="record_date" />
    </resultMap>

    <select id="getRealEstateInfo" resultMap="RealEstateInfo">
        SELECT *,cast(record_time as date) as record_date FROM realestatestatement
        ORDER BY record_time DESC;
    </select>
</mapper>