<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <settings>
    <setting name="logImpl" value="LOG4J2"/>
  </settings>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="org.postgresql.Driver"/>
        <property name="url" value="jdbc:postgresql://cloud.wind4us.com/tools?charSet=utf-8"/>
        <property name="username" value="tools"/>
        <property name="password" value="5816@RubberSheer"/>
      </dataSource>
    </environment>
  </environments>

  <mappers>
    <mapper resource="com/leathersheer/tools/SpiderUnit/DBUnits/DBUnitsMapper.xml"/>
    <!--
    //TODO 修复sqlsession建立时会出现找不到以下注释掉文件的问题，否则链家爬虫无法工作。
    <mapper resource="com/leathersheer/tools/SpiderUnit/LianJiaUnits/LianJiaDBProcess/LianjiaMapper.xml"/>

    <mapper resource="com/leathersheer/tools/SpiderUnit/LianJiaUnits/LianJiaDBProcess/HouseMapper.xml"/>
    -->
    <!-- 萌点页面 -->
    <mapper resource="com/leathersheer/tools/SpiderUnit/MengDianUnits/MengDianDBProcess/IncentivesMapper.xml"/>
  </mappers>
</configuration>