<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leathersheer.tools.SpiderUnit.Listeners.DBUnits.ChengDuHouseMapper">

    <resultMap id="incentives" type="com.leathersheer.tools.SpiderUnit.Listeners.DBUnits.ChengDuHouseBean">
        <result column="area_name" property="area_name" />
        <result column="total_area_proportion" property="total_area_proportion" />
        <result column="residiential_house_num" property="residiential_house_num" />
        <result column="residiential_house_proportion" property="residiential_house_proportion" />
        <result column="not_residiential_house_proportion" property="not_residiential_house_proportion" />
        <result column="city_name" property="city_name" />
        <result column="record_time" property="record_time" />
    </resultMap>

    <insert id="insertColumn" parameterType="com.leathersheer.tools.SpiderUnit.Listeners.DBUnits.ChengDuHouseBean">
        insert into realestatestatement(area_name,total_area_proportion,residiential_house_num,residiential_house_proportion,not_residiential_house_proportion,city_name,record_time)
        values(#{area_name},#{total_area_proportion},#{residiential_house_num},#{residiential_house_proportion},#{not_residiential_house_proportion},#{city_name},#{record_time})
    </insert>

</mapper>