/*地图控件样式*/
#container {
    width: 1800px;
    height: 1360px;
}

/*mark的lable样式*/
.amap-marker-label {
    border: 0;
    background: rgba(247, 247, 247, 0.5);
    box-shadow: 1px 1px 1px #888888;
    border-radius: 10px;
}
/*mark的lable内文字样式*/
#panel {
    z-index: 999;
    position: absolute;
    background-color: white;
    max-height: 100%;
    overflow-y: auto;
    right: 10px;
    top: 10px;
    width: 280px;
}
#panel .amap-lib-transfer {
    border-radius: 4px;
    overflow: hidden;
}