div {
    font-family: SimSun;
}

#customers {
    width: 100%;
    border-collapse: collapse;
}

#optionpanel {
    width: 100%;
    height: 10%;
    padding: 10px;
}

#buttonpanel {
    width: 100%;
    height: 4%;
}

#righttop {
    background: linear-gradient(45deg,#88B8DC,#ADD9FE,#88B8DC,#ADD9FE,#88B8DC,#ADD9FE,#88B8DC);
}

/* 顶部图片div */
#toppanel{
    width:100%;
    height: 60px;
    background-image: linear-gradient(#FFFFFF 50%, #D6E7FF 50%);
}

#customers td, #customers th {
    font-size: 1em;
    border: 1px solid rgba(191, 191, 191, 0.88);
    padding: 3px 7px 2px 7px;
}

#customers th {
    font-size: 1.1em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-image: linear-gradient(#fbffff,#eff6ff 55%,#d4e5fd,#daebfd 45%);
}

#customers-bottom {
    width:100%;
    font-size: 1.1em;
    color: rgba(255,255,255,0);
    border: 1px solid rgba(191, 191, 191, 0.88);
    background-image: linear-gradient(#fbffff,#eff6ff 55%,#d4e5fd,#daebfd 45%);
}

/*
#customers tr.alt td {
    color: #000000;
    background-color: #D6E7FF;
}
*/
#leftpanel {
    width: 20%;
    height: 100%;
    float: left;
}

#left-negivation{
    widhth:100%;
    height: 65%;
    cursor: pointer;
    border:3px solid rgba(191, 191, 191, 0.88);
    font-family: SimSun;
    font-size: 18px;
    font-weight: bolder;
    line-height: 2;
}

#negivation-title{
    width:100%;
    height:30px;
    border: 1px solid #e2effe;
    background-image: linear-gradient(#fbffff,#eff6ff 55%,#d4e5fd,#daebfd 45%);
}

#negivation-content{
    padding: 10px;
}

#functionselection{
    width:100%;
    height:34%;
    background-image: linear-gradient(#FFFFFF, #D6E7FF);
}

.right {
    height: 100%;
    width: 79%;
    float: right;
}

#titletable {
    width: 100%;
    height: 40px;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    border: 1px solid #e2effe;
    background-image: linear-gradient(#fbffff,#eff6ff 55%,#d4e5fd,#daebfd 45%);
}

/*动态树*/
ul.domtree,
ul.domtree ul {
    margin: 0;
    padding: 0 0 0 2em;
}

ul.domtree li {
    list-style: none;
    position: relative;
}

ul.domtree>li:first-child:before {
    border-style: none none solid none;
}

ul.domtree li:before {
    position: absolute;
    content: '';
    top: -0.01em;
    left: -0.7em;
    width: 0.5em;
    height: 0.615em;
    border-style: none none solid solid;
    border-width: 0.05em;
    border-color: #aaa;
}

ul.domtree li:not(:last-child):after {
    position: absolute;
    content: '';
    top: 0.7em;
    left: -0.7em;
    bottom: 0;
    border-style: none none none solid;
    border-width: 0.05em;
    border-color: #aaa;
}
.column{
    display: none;
}
input[type='checkbox']{
    display: none;
}
input[type="checkbox"]:checked ~ ul{
    display: block;
}

.butt{
    background-image: linear-gradient(#fbffff,#eff6ff 55%,#d4e5fd,#daebfd 45%);
    color: #698E97;
    border-color: #698E97;
    font-weight: bold;
}

#queryform{
    margin: 5px;
    margin-bottom: 10px;
}

#extractele{
    color: #19547B;
}

.extractinput{
    width:40px;
    height: 20px;
}

html{
    background-color: #E1EFFC;
}

#right-botton{
    background-color: #F4F8FC;
}

#title-form{
    height: 17px;
    margin-right: 10px;
}