<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.leathersheer.tools.SpiderUnit.LianjiaUnits.LianjiaMapper">
    <select id="conntest" resultType="String">
    select 'conn is ok!' as txt;
    </select>

    <insert id ="insertHouseinfo" parameterType="java.util.LinkedList" >
                 insert into HouseInfo
                  (Address, Area, Gdlocation, Floor,Price,HouseType,Oriented,house_code)
                  values
                  <foreach collection ="list" item="houseinfo" index="index" separator =",">
                      (
                      #{houseinfo.address}, 
                      #{houseinfo.area},
                      #{houseinfo.gdlocation},
                      #{houseinfo.floor},
                      #{houseinfo.price},
                      #{houseinfo.housetype},
                      #{houseinfo.oriented},
                      #{houseinfo.house_code}
                      )
                  </foreach >
     </insert >
</mapper>